@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* Colors */
  --color-primary: #ed931c;
  --color-secondary: #ae6200;
  --color-dark-grey: #474747;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #E5E5E5;
  overflow-x: hidden;
}

.navbar nav ul {
  margin-right: 10rem;
  gap: 1.5rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 2px solid var(--color-primary);
  max-width: 40%;
  padding: 1rem 1.5rem;
}

p {
  color: var(--color-dark-grey);
}

section {
  margin: 5rem 5rem;
}

section h2 {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 2px solid var(--color-primary);
  max-width: 40%;
  padding: 1rem 1.5rem;
}

a:hover {
  text-decoration: underline;
}

.right-half .img-container {
  padding-top: 10rem;
}

.service__card {
  max-width: 20rem;
}

.service__card .container {
  background-color: #cbcbcb;
  padding: 3rem;
  border-radius: 1rem;
}

.slick-prev:before,
.slick-next:before {
  color: var(--color-primary) !important;
  height: 2rem;
  width: 2rem;
}